@font-face{
  font-family: myFont;
  src:url(./fonts/OCR_B_Std_Medium.otf)
}

body {
  background-color: #2d2d30;
}

a {
  color: rgb(208, 255, 0);
  font-family: "Inter", sans-serif;
}

button {
    background-color: rgb(208, 255, 0);
    border: none;
    color: black;
    font-family: myFont;
    height: 50px;
    width: 200px;
    font-size: 35px;
    /* font-family: 'DM Mono', monospace; */
}

h3, h1, p, ul {
  color: white;
  font-family: myFont;
  /* font-family: 'DM Mono', monospace; */
}

.social {
  display: inline-block; /* or display: flex; */
}
